{{#foreach posts}}

<article class="post">
  <h4 class="post-date" datetime="{{date format="MMMM D DD YYYY" }}">{{date format= "MMMM DD, YYYY"}}</h4>
  <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
  {{#if tags}}
  <span class="taglist">
      {{#foreach tags}}
        <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>
      {{/foreach}}
    {{/if}}
  </span>
</article>

{{/foreach}}
