{{!< default}}
{{#post}}
  <section id="banner" class="clearfix">
    <div id="banner_content_wrapper">
      <h4 datetime="{{date format="MMMM D DD YYYY" }}">{{date format= "MMMM DD, YYYY"}}</h4>
      <h1>{{title}}</h1>
      {{#if tags}}
      <span class="taglist">
          {{#foreach tags}}
            <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>
          {{/foreach}}
        {{/if}}
      </span>
    </div>
  </section>
  <article id="article_content" class="post-detail-content">
  	{{content}}
    {{> comments }}
  </article>
{{/post}}
