{{!< default}}
{{#post}}
  <section class="post-detail-header">
    <h4 datetime="{{date format="MMMM D DD YYYY" }}">{{date format= "MMMM DD, YYYY"}}</h4>
    <h1>{{title}}</h1>
    {{#if tags}}
    <span class="taglist">
        {{#foreach tags}}
          <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>
        {{/foreach}}
      {{/if}}
    </span>
  </section>
  <article class="post-detail-content">
  	{{content}}
  </article>
{{/post}}
